{% extends 'base.html.twig' %}

{% block main %}


<div class="mid">
    <div class="baner">
        <img class="embem-responsive" src="{{ asset('build/baner.png') }}">
    </div>
    <div class="hero text-center">
        <h2 class="text-light display-4">Lorem ipsum</h2>
        <p class="text-light mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's</p>
        <a class="text-light border border-white" href="#">Otwórz magazyn</a>
    </div>
</div>
<section id="about" class="about">
 <h1 class="h-100 row align-items-center justify-content-center">1</h1>
</section>


<section id="discovery" class="discovery">
 <h1 class="h-100 row align-items-center justify-content-center">2</h1>
</section>

<section id="service" class="service">
 <h1 class="h-100 row align-items-center justify-content-center">3</h1>
</section>

<section id="sign" class="sign">
 <h1 class="h-100 row align-items-center justify-content-center">4</h1>
</section>

{% endblock %}